<!--noindex-->
<div class="popup">
    <a class="fancybox">
        Товаров в диапозоне от {$popup_from} руб. до {$popup_to} руб.: {$products_count} шт.</br>Цена с учётом НДС.
    </a>
</div>
<!--/noindex-->